body {
    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 100vh;
    background-color: #ffffff;
    font-family: 'Anonymous Pro', monospace;
    background-image: url("./IMG_1083.jpeg"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 90vw;
    max-width: 900px;
    
    /* NEU: Zentriert den Container */
    margin: auto;
    justify-content: center;
    align-items: center;
}


@media (max-width: 700px) { 
    .container {
        grid-template-columns: repeat(3, 1fr); /* Auch bei kleineren Bildschirmen bleibt es bei max. 3 Spalten */
    }
}

@media (max-width: 500px) { 
    .container {
        grid-template-columns: repeat(2, 1fr); /* Falls noch kleiner, dann 3x2 oder 3x1 */
    }
}

@media (max-width: 350px) { 
    .container {
        grid-template-columns: repeat(1, 1fr); /* Falls extrem klein, dann 3x1 */
    }
}


.container .box {
    background-color: #333333;
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: #ffffff;
    transition: 0.5s;
    border-radius: 5px;
}

.container .box:hover {
    background-color: #e91e63;

}

.container .box img {
    position: relative;
    max-width: 100px;
    margin-bottom: 10px;

}

.title {
    font-size: 300%;
    text-align: center;
}
