body {
    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 100vh;
    background-color: #222222;
}
.container {

    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto-fill, minmax(100px, auto);
    margin: 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}
.container .box {
    background-color: #333333;
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: #ffffff;
    transition: 0.5s;
}

.container .box:hover {
    background-color: #e91e63;
}

.container .box img {
    position: relative;
    max-width: 100px;
    margin-bottom: 10px;

}
.container .box:nth-child(1) {
    grid-column: span 3;
    grid-row: span 1;
}

.title {
    font-size: 300%;
    text-align: center;
}
