html{
  min-height: 100%;
  overflow: hidden;
  background-image: url("./images/allgemeines.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255,255,255,0.4);
  font-family: 'Anonymous Pro', monospace;  
  /*background-color: rgb(25,25,25);*/  
}
.title {
  font-size: 250%;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 300%;
}
ul {
  color: rgb(0, 0, 0);
  position: relative;
  top: 20%;
  left: 0;
  width: auto;
  margin: 0 auto;
  white-space: nowrap;
  text-align: left;
  list-style: disc;
  font-size: 200%;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  max-width: 100%;
  max-height: 80%;
  line-height: 120%;
}